
body {font-family: roboto, sans-serif; margin: 0px;}
.container 
{
    background-color: rgb(228, 197, 158);
    display: flex;
    justify-content: space-between;
    padding: 20px 250px;
}

.bdm {
        font-weight: 800;
        font-size: 30px;}
 .text1 {
        font-size: 25px;}
.social {
        display: flex;
        justify-content: space-between;
        gap: 24px;
            }

    .containerright {
                display: flex;
                width: 540px;
                height: 280px;
                padding-top: 10px;
            }
 a {
     text-decoration: none;
     }
.container1 {
        background-color: rgb(228, 197, 158);
        display: flex;
        justify-content: space-between;

    }
.containerleft {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 70px 250px 140px;
    }
    .text1 {
        font-size: 25px;
    }
    .text2 {
        font-size: 20px;}
    
    .button button {
        background-color: rgb(180, 109, 47);
        font-size: 20px;
        border-radius: 8px;
        border-width: 2px;
        border-style: solid;
        border-color: rgba(95, 53, 18, 0.635);
        border-image: initial;
        padding: 10px 20px;}
    
    img {
            border-radius: 0px;
            border-width: 6px;
            border-style: solid;
            border-color: rgb(90, 47, 23);
            border-image: initial;
        }

        .container2 {
            background-color: rgb(175, 130, 96);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px 250px 140px;}
    .containerroster {
            font-weight: 800;
            font-size: 30px;
            padding-left: 22px;
            }
   
            .roster {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: flex-start;
            gap: 80px;
            padding: 40px 0px 0px;}
        img {
                border-radius: 0px;
                border-width: 6px;
                border-style: solid;
                border-color: rgb(90, 47, 23);
                border-image: initial;
            }
.name {
         text-align: center;
         font-size: 18px;
        font-weight: 600;}

        .roster {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: flex-start;
            gap: 80px;
            padding: 40px 0px 0px;
        }
        
        .container3 {
            background-color: rgb(128, 61, 59);
            display: flex;
            justify-content: center;
        }
        .cit {
            font-size: 30px;
            font-style: italic;
            padding: 90px 0px;
        }
        .container4 {
            background-color: rgb(50, 44, 43);
            display: flex;
            justify-content: center;}
    .inside  { background-color: rgb(30, 116, 165);
                display: flex;
                border-radius: 8px;
                margin: 90px;
                padding: 30px 400px;
                gap: 160px;
            }
            .formtext {
                font-size: 30px;
                margin-top: 8px;
            }
            .formbutton button {
                background-color: rgb(30, 116, 165);
                font-size: 20px;
                border-radius: 8px;
                border-width: 2px;
                border-style: solid;
                border-color: rgb(50, 44, 43);
                border-image: initial;
                padding: 10px 20px;
            }
            .container5 {
                display: flex;
                justify-content: center;
                background-color: rgb(240, 154, 42);
                padding: 10px 0px;
            }